<?xml version="1.0" encoding="UTF-8"?>
<config>
  <defaultcontact>
    <organisation>Australian Government Department of the Environment</organisation>
    <position>Remote Sensing Coordinator</position>
    <telephone>+61 2 6274 1111</telephone>
    <facsimile>+ 61 2 6274 1333</facsimile>
    <address>
      <deliveryPoint>GPO Box 787</deliveryPoint>
      <city>Canberra</city>
      <administrativeArea>Australian Capital Territory</administrativeArea>
      <postalCode>2601</postalCode>
      <country>Australia</country>
    </address>
    <emailAddress>satellite.metadata@environment.gov.au</emailAddress>
    <onlineResource>
      <URL>http://www.environment.gov.au</URL>
      <description>Department of the Environment homepage</description>
    </onlineResource>
  </defaultcontact>
  <geonetwork>
    <site>
      <name>DoE RS Image Archive</name>
      <organization>DoE</organization>
      <siteId>d274a2d8-f166-4db9-beac-ba0df4df42ee</siteId>
      <baseurl>http://tvac01mult01.internal.govt:8080/geonetwork</baseurl>
    </site>
    <categories default="datasets">
      <category name="DVD"/>
      <category name="RAMSAR"/>
      <category name="TAPE"/>
      <category name="datasets"/>
      <category name="interactiveResources"/>
      <category name="maps"/>
      <category name="nautical"/>
    </categories>
  </geonetwork>
</config>

