<?xml version="1.0" encoding="UTF-8"?>
<config>
    <defaultcontact>
      <organisation>Australian Government Department of Sustainability, Environment, Water, Population and Communities</organisation>
      <position>Remote Sensing Coordinator</position>
      <telephone>+61 2 6275 9332</telephone>
      <facsimile>+ 61 2 6274 1333</facsimile>
      <address>
        <deliveryPoint>GPO Box 787</deliveryPoint>
        <city>Canberra</city>
        <administrativeArea>Australian Capital Territory</administrativeArea>
        <postalCode>2601</postalCode>
        <country>Australia</country>
      </address>
      <emailAddress>satellite.metadata@environment.gov.au</emailAddress>
      <onlineResource>
        <URL>http://www.environment.gov.au</URL>
        <description>Department of the Sustainability, Environment, Water, Population and Communities homepage</description>
      </onlineResource>
    </defaultcontact>
</config>

